<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.person.mapper.PersonMapper">
  <resultMap id="BaseResultMap" type="com.spring.person.domain.entity.Person">
    <!--@mbg.generated-->
    <!--@Table tb_person-->
    <id column="person_id" jdbcType="INTEGER" property="personId" />
    <result column="person_nickname" jdbcType="VARCHAR" property="personNickname" />
    <result column="person_name" jdbcType="VARCHAR" property="personName" />
    <result column="person_gender" jdbcType="VARCHAR" property="personGender" />
    <result column="person_birthday" jdbcType="DATE" property="personBirthday" />
    <result column="person_phon" jdbcType="VARCHAR" property="personPhon" />
    <result column="person_email" jdbcType="VARCHAR" property="personEmail" />
    <result column="person_icon" jdbcType="VARCHAR" property="personIcon" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    person_id, person_nickname, person_name, person_gender, person_birthday, person_phon, 
    person_email, person_icon, is_delete
  </sql>
</mapper>